<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This build takes the results from all the CI builds and combines them into a installable package to be used for later stages in the pipeline.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact>
      <projectName>client</projectName>
      <filter>*</filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector">
        <stable>true</stable>
      </selector>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact>
      <projectName>library</projectName>
      <filter>*</filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector">
        <stable>true</stable>
      </selector>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>rm -rf package
mkdir package
mv library package
mv client package
touch package/readme</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Fingerprinter>
      <targets>package</targets>
      <recordBuildArtifacts>false</recordBuildArtifacts>
    </hudson.tasks.Fingerprinter>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>package/*</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>